// Tools
@import '../tools';

// Settings
@import '../settings';

.sf {

    @include media-breakpoint-up(md) {
      position: fixed;
      top: 86px;
      left: 0;
      right: 0;
      z-index: 999;
      box-shadow: 0 2px 10px rgba(#99a1ba, .2);

        .admin-bar & {
          top: 118px;
        }

        .sho & {
          display: block;
        }
    }

    &__form {

        button,
        input {

            @include media-breakpoint-up(sm) {
              height: 45px;
            }

            @include media-breakpoint-down(xs) {
              height: 40px;
            }
        }

        button {

            @include media-breakpoint-down(xs) {
              position: absolute;
              top: 0;
              left: 5px;
              width: 50px;
              z-index: 2;
            }
        }

        input {
          border: 1px solid #ddd;

            &::placeholder {
              color: $neutral;
            }
        }
    }

    &__sg {
      border: 1px solid #ddd;

        li {

            &:not(:last-child) {
              border-bottom: 1px solid #ddd;
            }
        }
    }
}

