// Tools
@import '../tools';

// Settings
@import '../settings';

// Slot Header
.sh {

  &__fi {

      img {
        max-width: none;
        width: auto;
        min-height: 100%;
      }

      @include media-breakpoint-up(lg) {
        height: 428px;
      }

      @include media-breakpoint-only(md) {
        height: 395px;
      }

      @include media-breakpoint-only(xs) {
        height: 250px;
      }
  }

  &__cb {
    background: $transparent-10;
  }

  &__cc {

      &__badge {
        position: absolute;
        top: 9px;
        left: -44px;
        z-index: 3;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        transform: rotate(-45deg);
      }

      &__thumb {

          @include media-breakpoint-up(md) {
            padding-bottom: percentage(220 / 300);
          }

          @include media-breakpoint-only(sm) {
            padding-bottom: 50%;
          }

          @include media-breakpoint-down(xs) {
            height: 91px;
          }

          &__link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
      }

      &__rating {

          @include media-breakpoint-up(sm) {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 3;
          }

          @include media-breakpoint-down(xs) {
            margin-top: -10px;
            box-shadow: 0 0 0 2px $white;
          }
      }

      &__tc {
        color: #92959f;
        font-size: 10px;

          a {
            color: inherit;
          }
      }
  }

  &__play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(#232222, .5);

      &:hover {
        color: $primary;
      }

      &__circle {
        position: relative;

          &::before {
            content: '';
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            border-radius: 50%;
            border: 2px solid rgba($white, .5);
          }

          @include media-breakpoint-up(sm) {
            width: 100px;
            height: 100px;
          }

          @include media-breakpoint-down(xs) {
            width: 70px;
            height: 70px;

              svg {
                width: 25px;
              }
          }
      }
  }

  &__iframe {
    height: 0;
    padding-bottom: percentage(9 / 16);
  }

  &__qf {

      a {
        color: inherit;
      }
  }
}
